.app-bar {
  height: 70px;
  background-color: #5e72e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-search {
  display: flex;
}
.menu-icon {
  font-size: 25px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
/* Search style */
.search {
  display: flex;
  height: 30px;
  margin: 0 50px 0 50px;
}
.text-input {
  padding: 10px;
  width: 150px;
  font-size: 12px;
  float: left;
  background: #f1f1f1;
  border: none;
  border-radius: 15px 0 0 15px;
  transition: 0.3s;
}
.text-input:hover {
  width: 120px;
}
.text-input:focus {
  border: none;
  outline: none;
}
.search-btn {
  width: 40px;
  color: black;
  border-radius: 0 15px 15px 0;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
/* Grid notification User style */
.appbar-right {
  display: flex;
  color: #fff;
  margin-right: 50px;
}

.noti-icon,
.list-icon,
.user-icon {
  font-size: 22px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

@media only screen and (max-width: 768px) {
  .search {
    display: none;
  }
  .appbar-right {
    margin-right: 10px;
  }
}
