* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
}
.main-content {
  width: 100%;
  min-height: auto;
  background-color: #f1f4f9;
}
main {
  /* padding: 20px; */
}
.side-nav {
  min-height: 100vh;
  width: 200px;
  transition: all 0.5s;
  box-shadow: 1px 0px 8px -1px rgba(0, 0, 0, 0.61);
}

.route-content {
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .side-nav {
    /* width: 0px !important; */
  }
}
